.logo-row {
    text-align: left;
}

.logo {
    width: 150px;
    height: 100px;
    text-align: left;
}

#principal {
    background: #ffffff;
    border: #000000 1px;
    border-radius: 1px;
    padding: 10px;
}

#seguridad{
    position: absolute;
    top: 30px;
    right: 300px;
    
}